// Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    // your code
    .prymag-purchase-form {
        background-image: none !important;
		
		
		.main-content-wrapper {
			display: block;
			
		}
		.form-wrapper {
			width: 100%;
		}
    }
}

//
//  Tablet (for the front-end)
//  _____________________________________________
@media only screen and (max-width: @screen__m) {
    // your code
	.prymag-purchase-form {
		
        background-image: none !important;
		
		.main-content-wrapper {
			display: flex;
			flex-direction: column;
			
			
			.main-image {
				display:block !important;
			}
			.main-content {
				position: relative !important;
				width: 100% !important;
				height: 100%;
			}
        }
    }
}

// Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    // your code
    .prymag-purchase-form {
		display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
		
        background-image: inherit;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;

        .main-content-wrapper {
			width: 100%;
			
			.main-image {
				display:none;
			}
			.main-content {
				max-width: 100%;
				position: absolute;
				top: 1%;
				left:0;
				right:0;
				margin: auto;
				padding: 10px;
				width: 90%;
				color: #ffffff;
			
			}
        }
		
		.form-wrapper {
			width: 100%;
			max-width: 450px;
		}

		
        
    }
}

& when (@media-common = true) {
    // your code
    .prymag-purchase-form {
        

        .main-content-wrapper {
            position: relative;
            width: 100%;
        }

        .form-main {
            padding: 10px;
            margin-left: auto;
    
            .product-info {
                margin-bottom:10px;
        
                .title,
                .desc {
                    display:inline;
                }
            }
        
            .two-col-control {
                
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
        
                .control {
                    width:50%;
        
                    &:first-child {
                        margin-right: 10px;
                    }
                }
            }
        
            .control {
                margin-bottom: 10px;
        
                &.gender {
                    label {
                        margin-right: 15px;
                    }
                }
                &.payment-methods {
                    display: -webkit-box;
                    display: -ms-flexbox;                
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
        
                    label {
                        display: -webkit-box;
                        display: -ms-flexbox;                
                        display: flex;
                        margin-right: 15px;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                    }
        
                    img {
                        max-height: 20px;
                    }
                }
        
                &.control-checkbox {
                    input[type="checkbox"] {
                        margin: 0;
                        vertical-align: middle;
                        top: 0;
                    }
                }
        
                &.consent label {
                    display:block;

                    input {
                        margin-right: 10px;
                    }
                }
            }
        
            .action {
                width: 100%;
                margin-bottom: 10px;
            }

            .sms-button {
                &.hidden {
                    display:none;
                }
                .action-name {
                    display: block;
                    margin-bottom:10px;
                }
                .action-info {
                    display:block;

                    &.hidden {
                        display:none;
                    }
                }
            }
        
            .conditions-text {
                font-size:0.9em;
            }
        }
    }
}
